<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <fourth driverType="RemoteDriver" serverUrl="http://b103e37c.ngrok.io/wd/hub" xdt:Transform="Replace">
    <capabilities>
      <add key="--start-maximized"/>
    </capabilities>
    <remoteOptions>
      <add key="browserName" value="chrome"/>
      <add key="version" value="latest"/>
      <add key="platform" value="WINDOWS"/>
    </remoteOptions>
  </fourth>
</configuration>