<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <fourth driverType="InternetExplorer" serverUrl="" xdt:Transform="Replace">
    <reporting keepScreenshot="false" takeScreenshotOnError="false" />
    <timeout driverCommands="00:00:59" defaultWait="00:00:59" />
    <capabilities>
    </capabilities>
  </fourth>
</configuration>