<?xml version="1.0" encoding="utf-8"?>
<!-- Easter egg. You've found it. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <fourth driverType="Android" serverUrl="http://f546e08d.ngrok.io/wd/hub" xdt:Transform="Replace">
    <capabilities>
      <add key="platformVersion" value="6.0.1" />
      <add key="deviceName" value="Nexus 5" />
      <add key="browserName" value="Chrome"/>
    </capabilities>
  </fourth>
</configuration>