<?xml version="1.0" encoding="utf-8"?>
<!-- Easter egg. You've found it. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <fourth driverType="Android" serverUrl="http://f546e08d.ngrok.io/wd/hub" xdt:Transform="Replace">
    <timeout alertWait="00:00:07" driverCommands="00:02:00" defaultWait="00:00:59"/>
    <capabilities>
      <add key="platformVersion" value="6.0.1" />
      <add key="deviceName" value="Nexus 5" />
      <add key="appPackage" value="com.fourth.marketplace.qa" />
      <add key="appActivity" value="com.salesforce.androidsdk.phonegap.ui.SalesforceDroidGapActivity" />
      <add key="app" value="/Users/itorres/Documents/App/FourthApp.apk" />
      <add key="recreateChromeDriverSessions" value="true" />
      <add key="noReset" value="true" />
    </capabilities>
  </fourth>
</configuration>