<?xml version="1.0" encoding="utf-8"?>
<!-- Like Flux Pavilion, I just can't stop. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <fourth driverType="iOS" serverUrl="http://f546e08d.ngrok.io/wd/hub" xdt:Transform="Replace">
    <timeout alertWait="00:00:07" driverCommands="00:02:00" defaultWait="00:00:59"/>
    <capabilities>
      <add key="platformVersion" value="11.2" />
      <add key="deviceName" value="Phoney" />
      <add key="platformName" value="iOS" />
      <add key="udid" value="eb5eb6083f3fdf78473b47217894547378a5bef9" />
      <add key="autoWebView" value="true" />
      <add key="useNewWDA" value="true" />
      <add key="xcodeOrgId" value="DK2MYTAD7Z" />
      <add key="xcodeSigningId" value="iPhone Developer" />
      <add key="startIWDP" value="true" />
      <add key="noReset" value="true" />
      <add key="app" value="/Users/itorres/Documents/App/FourthHybrid.ipa" />
      <add key="bundleId" value="com.fourth.qa" />
      <add key="locationServicesAuthorized" value="true" />
    </capabilities>
  </fourth>
</configuration>